<div class="row" style="padding-left: 0; padding-right: 0;">
    <div class="row">
        <div class="medium-12 columns">
        <h1><%=(attr :doctitle) %></h1>
        </div>
    </div>
    <!--div class="row">
        <div class="large-3 columns">
            <a href="/graphacademy/online-training/getting-started-graph-databases-neo4j-part-1/">Part 1: Introduction</a>
        </div>
        <div class="large-3 columns">
            <a href="/graphacademy/online-training/getting-started-graph-databases-neo4j-part-2/">Part 2: Creating and Querying Graphs</a>
        </div>
        <div class="large-3 columns">
            <a href="/graphacademy/online-training/getting-started-graph-databases-neo4j-part-3/">Part 3: Filters and Paths</a>
        </div>
        <div class="large-3 columns">
            <a href="/graphacademy/online-training/getting-started-graph-databases-neo4j-part-4/">Part 4: Indexing, Recommendations, Import</a>
        </div>
    </div-->
    <div class="large-9 large-push-3 columns guide-section-content">
       <div id="content">
        <%= content %>
       </div>
    </div>
    <div class="large-3 large-pull-9 columns"><!--was: sticky-->
        <!--div><a href="/graphacademy"><image src="http://dev.assets.neo4j.com.s3.amazonaws.com/wp-content/uploads/neo4j_logo-325x150.png"></a></div-->
        <% if (attr? :toc)  %>
        <div id="toc" class="<%= attr 'toc-class', 'toc' %>">
        <div id="toctitle"><%= attr 'toc-title' %></div>
        <%= converter.convert self, 'outline' %>
        </div><% end %>
        <div>
	      <h4>Progress</h4>
	      <ul class="quiz-progress">
		    <li id="quiz1-progress">Section 1</li>
		    <li id="quiz2-progress">Section 2</li>
		    <li id="quiz3-progress">Section 3</li>
		    <li id="quiz4-progress">Section 4</li>
	      <ul>	 
	      </ul>
	    </div>
    </div>
</div>